<!DOCTYPE html>
<html>
  <head>
    <title>Compiler</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div>
      <textarea id="code">
#include &lt;iostream&gt;
using namespace std;

int main()
{
    cout << "Hello, World!";
    return 0;
}
      </textarea>
      <select class="" name="language" id="lang">
        <option value="C/C++">C/C++</option>
        <option value="Javascript">Javascript</option>
      </select>
      <button id="run">Run</button>
    </div>

    <div id="result">

    </div>
  </body>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.19.0/axios.js" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.7.0/qs.js" type="text/javascript"></script>
  <script src="/javascripts/process.js" type="text/javascript"></script>
</html>
