.container {
	width: 70%;
  height: 400px;
	position: relative;
	display: inline-block;
}

.code {
	width: 100%;
  height: 400px;
  color: white;
  font-size: 17px;
  outline: none;
  padding: 20px;
  box-sizing: border-box;
  position: absolute;
	top: 0;
	font-family: monospace;
}

#board {
	background: transparent;
	color: transparent;
	z-index: 11;
	caret-color: white;
}

#dummy {
	background: #0e1114;
}

#result {
  width: 70%;
  height: 200px;
  background: black;
  color: white;
  overflow-y: scroll;
  padding: 10px;
}

#run {
  vertical-align: top;
  width: 100px;
  height: 40px;
  font-size: 20px;
}

#lang {
  vertical-align: top;
  height: 40px;
  font-size: 20px;
}

.keyword {
	color: #449ce3;
}

.number {
	color: #03fc62;
}

.string {
	color: #f22439;
}

.method {
	color: #f79c25;
}
