#code{
  width: 70%;
  height: 400px;
  background: #282e38;
  color: white;
  font-size: 17px;
  color: #00ff41;
  outline: none;
  padding: 10px;
  box-sizing: border-box;
}

#result{
  width: 70%;
  height: 200px;
  background: black;
  color: white;
  overflow-y: scroll;
  padding: 10px;
}

#run{
  vertical-align: top;
  width: 100px;
  height: 40px;
  font-size: 20px;
}

#lang{
  vertical-align: top;
  height: 40px;
  font-size: 20px;
}
